<% Category.all.each do |category| %><br>

  <label><%= category.name %><%= check_box_tag category.name, category.id, @post.categories.include?(category), name: 'categories[]' %></label><br>

<% end %>